* {
    /*margin: 3pt 0 0 0;*/
    font-family: "DejaVu Sans Mono", "David CLM", monospace;
    letter-spacing: 0.5pt;
    line-height: 15pt;

    /*padding: 0;*/
}

html {
    margin: 0 10pt;

}

html.dark {

    background: #1E1E1E;
    color: #D4D4D4;
}

body > :first-child {
    margin-top: 0;

}


div.box, box {
    border-width: 1px;
    background-color: rgb(235, 235, 235);
    width: 80%;
    margin-top: 5pt;
    margin-bottom: 5pt;
    padding: 5pt;
}

h1 {
    margin-bottom: 25pt;
}

h2 {
    margin: 20pt 5pt 5pt 5pt;
    font-size: 20pt;
}

h3 {
    margin: 10pt 5pt 10pt 0;
    font-size: 18pt;
}

h4 {
    margin: 15pt 5pt 5pt 0;
    font-size: 14pt;
}




hr {
    margin: 15pt 0
}

span.over, over {
    text-decoration: overline;
}

div.thin-line, thin-line {
    background-color: rgb(200, 200, 200);
    width: 80%;
    height: 1px;
    margin-top: 10pt;
    margin-bottom: 10pt;

}

/*div.line, line {
    background-color: rgb(100, 100, 100);
    width: 80%;
    height: 1px;
    margin-top: 20pt;
    margin-bottom: 20pt;
}*/


span.grey, grey {
    color: rgb(110, 110, 110);
    background: rgb(245, 245, 245);

    /*dark*/
    /*background: #111;*/


}

span.comment, comment {
    margin-left: 25px;
    margin-right: 25px;
    /*padding-left: 25px;*/
    color: rgb(110, 110, 110);
    background: rgb(245, 245, 245);

    /*dark*/
    /*background: #111;*/
}


sub, sup {
    margin: 0 0 0 1pt;
}


ul {
    margin-top: 0pt;
}

li > p {
    margin-block-start: 5pt
}

/*blockquote {
    color: rgb(110, 110, 110);
    font-size: 13pt;
    font-family: "FreeSerif";

}*/

/* Github Markdown blockquote */
blockquote {
    margin: 0 0 16px;
    padding: 0 1em;
    /*color: #6a737d;*/
    background: rgb(252, 252, 252);

    color: black;
    /*border-left: .25em solid #dfe2e5;*/
    border-left: .25em solid #b3c0c8;
    border-right: .25em solid #b3c0c8;
}

blockquote.dark {
    background: #1E1E1E;
    color: #D4D4D4;
}

blockquote > * {
    letter-spacing: 1pt;
    line-height: 20pt;
    font-family: "Roboto Mono Light for Powerline", "David CLM", monospace;
}

blockquote > :first-child {
    margin-top: 0;
}

blockquote > :last-child {
    margin-bottom: 0;
}

p {
    margin-block-end: 5pt;
}

em {
    font-family: "DejaVu Serif", sans-serif;
    font-size: 12pt;
    font-style: normal;
    margin-bottom: 0;
}